<%= render partial: 'navber' %>
<div class="container backimg2 my-5">
    <div class="d-flex align-items-center py-3">
        <h1>編集</h1>
        <div class="ml-auto boards__linkBox">
            <div><%= link_to '戻る', post_path(@post), class: 'btn btn-primary' %></div>
        </div>
        <%= render partial: 'form' %>
    </div>
</div>