/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 @import "bootstrap";
 @import "posts";
 @import "sessions";

 body{
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',
    Meiryo, sans-serif;
}
footer{
    text-align: center;
    color: rgba(0, 0, 0, 0.616);
}
.backimg2{
    background-color: rgb(135, 210, 248);
}
.navcolor{
    color: white;
}
.cw{
    color: white;
}
.form-group{
    color: white;
}
.btn {
    text-align: center;
}
.btn:active {
    box-shadow: none;
    position: relative;
    top: 6px;
}
 