// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.backimg1{
    background-image: url(sw1.jpg);
    background-size: cover;
}
.imgmsk{
    background-color: #e6ecf0d3;
}
.postbg{
    background-color: #1DA1F2;
    border-radius: 8px;
}
.post-thumbnail{
    width: 235px;
    height: 150px;
}
.fs1{
    font-size: 15px;
}
.fs2{
    font-size: 12px;
}
.indexitem2{
    background-color: white;
}
.titleitem{
    font-size: 30px;
    font-family: cursive;
}
.pageitem{
    font-size: 22px;
    height: 50px;
}
.hitem1{
    font-size: 25px;
}
.flashitem1{
    text-align: center;
    font-size: 30px;
}
.flashitem2{
    text-align: center;
    font-size: 24px;
}
.tbg{
    background-color: #1DA1F2;
}
.post-header-image{
    width: 95% !important;
    height: 100% !important;
}
